<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vos evenement</title>
</head>
<body>
<h1>Les événements de <span th:text="${nomUtilisateur}"></span></h1>

<!-- Affichage des événements pour chaque agenda -->
<div th:each="agenda : ${agendas}">
    <h2 th:text="${agenda.nomAgenda}"></h2>
    <ul>
        <th:block th:each="evenement : ${agenda.evenements}">
            <li>
                <span th:text="${evenement.nomEvenement}"></span>
            </li>
        </th:block>
    </ul>
</div>

<!-- Bouton pour imprimer la page -->
<button onclick="window.print()">Imprimer la page</button>
<!-- Lien pour retourner à la page précédente -->
<a href="/agenda/feuille">Ajouter un evenement</a>
<!-- Bouton de déconnexion -->
<a href="/agenda/logout">Déconnexion</a>

</body>
</html>
