<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bienvenue</title>
</head>
<body>
<h1>Bienvenue <span th:text="${prenom}"></span> connecté.</h1>

<!-- Display the user's agendas -->
<h2>Mes Agendas:</h2>
<ul>
    <li th:each="agenda : ${agendas}">
        <span th:text="${agenda.nomAgenda}"></span>
    </li>
</ul>

<!-- Button to redirect to the form page -->
<form action="/agenda/showForm" method="get">
    <button type="submit">Ajouter un agenda</button>
</form>

<form action="/agenda/logout" method="get">
    <button type="submit">Déconnexion</button>
</form>

</body>
</html>
